// Fonts
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

// Sass Components
@import "base/index";

body {
  width: 100%;
}

h3 {
  font-family: $stack-odibee;
  font-size: 2.5em;
  padding: 2em;
}

h3 a {
  color: $black;
  &:hover {
    color: $madder;
  }
}

h3.signature {
  @extend %align;
  font-size: 2em;
}

h3.title {
  @extend %centered;
  padding: .5em;
}

p {
  padding: 1.5em;
}

.about {
  background-color: $madder;
}

.about-me {
  @extend %block;
  font-size: 1.8em;
}

.bold {
  color: $white;
  font-variant: small-caps;
}

.back a {
  color: $black;
  font-size: 3em;
  position: fixed;
  right: 2em;
  top: 50%;
  left: 5%;
  z-index: 100;
}

.content-section {
  @extend %block;
  position: relative;
  min-height: 100vh;
  padding: 2em 1em;
  animation: slide-title-in 2000ms 1 alternate forwards;
  -webkit-animation: slide-title-in 2000ms 1 alternate forwards;
}

.hello {
  width: 13em;
  padding-left: 1em;
}

// .date {
//   top: 30%;
//   animation: slide-title-in 2000ms 1 alternate forwards;
//   -webkit-animation: slide-title-in 2000ms 1 alternate forwards;
// }

.grow {
  width: 10%;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.image {
  width: 90%;
}

.label {
  @extend %centered;
  background: $silver;
  background-repeat: no-repeat;
  background-position: bottom right;
  a {
    color: $white;
  }
  h3 {
    color: $white;
  }
}

.landing-content {
  @extend %block;
  border: 5px solid $black;
  width: 690px;
  height: 690px;
  padding-top: 1em;
}

.logo {
  padding-top: 6.3em;
  width: 10em;
}

.open {
  opacity: 0;
  transition: all .2s ease-in-out;
  width: 300px;
  &:hover {
    transform: scale(1.1);
  }
}

.plus-minus {
  padding: 1em;
  li a {
    color: $white;
    font-size: 2em;
  }
}

.social {
  margin: 8px;
  width: 2em;
}

.vertical-text {
  width: 1em;
  transform: rotate(-50deg);
}

.white {
  background-color: $white;
}

// Columns
.columns {
  @extend %flex;
}

.column {
  width: 200px;
  border: 5px solid $white;
  background: $black;
  flex: .2;
}

.mainColumn {
  flex: 2;
}

// Gallery
.box {
  // @extend %opacity;
  width: 25%;
  height: 500px;
  flex-grow: 1;
  -webkit-filter: grayscale(100%);
  &:hover {
    opacity: 1;
    // filter: none;
    -webkit-filter: grayscale(0%);
  }
}

.gallery {
  @extend %flex;
  // flex-basis: 0;
  flex-wrap: wrap;
  // -webkit-filter: grayscale(100%);
  // &:hover {
  //   opacity: 1;
  //   filter: none;
  //   -webkit-filter: grayscale(0%);
  // }
}

#imageFashion,
#imageExodus,
#imageTerraForma,
#imageCards,
#imageSampleUniversity,
#imageFeralBlack,
#imageFeralWhite,
#imageBody,
#imageDetox,
#imageOriginals,
#imageTumblr,
#imageAdidas,
#imageMobile,
#imageAesthetic,
#imageInsta,
#imageSpecialist,
#imageSpecialistBlack {
  @extend %align;
  @extend %image;
  // @extend %opacity;
  &:hover {
    opacity: 1;
  }
}

#imageFashion {
  background-image: url('#{$path-img}/eyelashes.jpg');
}

#imageExodus {
  background-image: url('#{$path-img}/exodus.png');
}

// #imageTerraForma {
//   background-image: url('#{$path-img}/terra-forma.png');
// }

#imageDetox {
  background-image: url('#{$path-img}/detox.png');
}

#imageOriginals {
  background-image: url('#{$path-img}/the-originals.png');
}

#imageFeralBlack {
  background-image: url('#{$path-img}/feral.png');
}

#imageBody {
  background-image: url('#{$path-img}/ux-design.png');
}

#imageTumblr {
  background-image: url('#{$path-img}/tumblr.jpg');
}

#imageAdidas {
  background-image: url('#{$path-img}/adidas.jpg');
}

#imageMobile {
  background-image: url('#{$path-img}/mobile.png');
}

#imageAesthetic {
  background-image: url('#{$path-img}/fashion-mock-up.jpg');
}

#imageInsta {
  background-image: url('#{$path-img}/ig.png');
}

#imageSpecialist {
  background-image: url('#{$path-img}/hybrid-cloud.png');
}

// Media Queries
@media only screen and
(min-width: 1024px)
and (max-width: 1025px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    height: 100vh;
  }
}

@media only screen and
(min-width: 667px)
and (max-width: 768px) {
  h3 {
    font-size: 1.8em;
  }

  .open {
    width: 200px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    height: 100vh;
  }

  //Modal//
  .ui.modal {
    width: 88%;
  }
}

@media only screen
and (max-width: 415px) {
  h3 {
    font-size: 1.8em;
  }

  h3.signature {
    font-size: 2.5em;
    padding-top: 1.8em;
  }

  h4 {
    font-size: 2em;
  }

  .open {
    width: 200px;
  }

  .about-me {
    font-size: 15px;
  }

  .case-study {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .block {
    display: block;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fullscreen-bg__video {
    display: none;
  }

  .gallery .box {
    width: 100%;
    height: 500px;
    background-size: contain;
  }

  .landing-content {
    border: 2px solid $black;
    width: 300px;
    height: 550px;
  }

  .landing-footer {
    font-size: 18px;
    padding-top: 6em;
  }

  .logo {
    padding-top: 3.9em;
    width: 5em;
  }

  .menu {
    height: 100vh;
  }

  .menu li {
    font-size: 1em;
    padding: 0;
  }


  .modal {
    width: 100%;
  }

  .name {
    font-size: 1.6em;
  }

  .vertical-text {
    width: 30px;
  }

  .wrapper {
    margin: 0 auto;
  }

  #footer-title {
    padding: 5px;
  }

  #landing-page {
    background-color: $blue;
  }

  //Images
  #imageInsta {
    background-image: url('#{$path-img}/ig-mobile.png');
  }

  #imageFeralBlack {
    background-image: url('#{$path-img}/feral-black.png');
  }

  #imageSpecialist {
    background-image: url('#{$path-img}/hybrid-white.png');
  }
}
