// Fonts
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap|Molle:400i|Sedgwick+Ave+Display&display=swap');

// Sass Components
@import "base/index";

// html.sr .load-hidden {
//     visibility: hidden;
// }

body {
  width: 100%;
}

// Typography
h3 {
  font-size: 2.5em;
  font-family: $stack-sedgwick;
  padding: 2em;
}

h3 a {
  color: $black;
  &:hover {
    color: $madder;
  }
}

h3.signature {
  color: $white;
  font-size: 3em;
  text-align: center;
  padding-top: 7em;
}

h3.title {
  padding: .5em;
  @extend %centered;
}

p {
  padding: 1.5em;
}

span {
  color: $white;
}

.about {
  background-color: $madder;
}

.bold,
.bolder {
  // font-family: $stack-sedgwick;
  font-variant: small-caps;
}

.bolder {
  font-size: 5.5em;
  color: $white;
}

.about-me {
  @extend %block;
  font-size: 1.8em;
  // padding: 5.8em;
}

.back a {
  color: $black;
  font-size: 2em;
  position: fixed;
  right: 2em;
  top: 50%;
  left: 5%;
  z-index: 100;
}

.content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.content-section {
  @extend %block;
  position: relative;
  top: 30%;
  animation: slide-title-in 2000ms 1 alternate forwards;
  -webkit-animation: slide-title-in 2000ms 1 alternate forwards;
}

.case-study {
  @extend %block;
  width: 55%;
  height: 100%;
}

.container {
  display: flex-inline;
}

.date {
  // position: absolute;
  top: 30%;
  // right: 30%;
  // animation: slide-title-in;
  // animation-duration: 2000ms;
  animation: slide-title-in 2000ms 1 alternate forwards;
  -webkit-animation: slide-title-in 2000ms 1 alternate forwards;
}

.enter a {
  position: relative;
  left: 2em;
  top: 50%;
}

// Video
.fullscreen-bg {
  opacity: 60%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

// Image
.fullscreen-image {
  opacity: 60%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__image {
  // position: absolute;
  // height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  // filter: grayscale(100%);
}

.grow {
  width: 10%;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.image {
  width: 90%;
}

.intro {
  @extend %centered;
  border-bottom: 1px solid $black;
  background-color: $white;
  height: 30%;
}

.label {
  @extend %centered;
  background: $silver;
  // background-image: url('#{$path-img}/black-bubbles.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  // border-bottom: 2px solid $black;
  // border-top: 2px solid $black;
  a {
    color: $white;
  }
  h3 {
    color: $white;
  }
}

.landing-content {
  // background-color: $white;
  border: 8px solid $black;
  @extend %block;
  width: 690px;
  height: 690px;
  padding-top: 4em;
}

// .landing-footer {
//   padding-top: 6.8em;
// }

.margin {
  margin-bottom: 3em;
}

// Nav
.menu {
  opacity: 95%;
}

.name {
  color: $black;
  font-size: 3em;
}

.open {
  opacity: 0;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.open-website {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

img.open {
  width: 300px;
}

.plus-minus {
  padding: 1em;
  li a {
    color: $white;
    font-size: 2em;
  }
}

.plus-minus li a {
  color: $white;
  font-size: 2em;
}

.savvy {
  @extend %block;
  padding: 1em;
  width: 60%;
}

// .social {
//   width: 100px;
// }

// .vertical-text {
//   color: $madder;
//   display: inline-block;
//   font-family: $stack-sedgwick;
//   font-size: 2em;
//   transform: rotate(-280deg);
// }

.white {
  background-color: $white;
}

// Columns
.columns {
  @extend %flex;
}

.column {
  width: 200px;
  border: 5px solid $white;
  background: $black;
  flex: .2;
}

.mainColumn {
  flex: 2;
}

// Gallery
.box {
  width: 25%;
  height: 500px;
  flex-grow: 1;
}

.gallery {
  @extend %flex;
  // flex-basis: 0;
  flex-wrap: wrap;
  -webkit-filter: grayscale(100%);
  &:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0%);
  }
}

#imageFashion,
#imageExodus,
#imageTerraForma,
#imageCards,
#imageSampleUniversity,
#imageFeralBlack,
#imageFeralWhite,
#imageTumblr,
#imageAdidas,
#imageMobile,
#imageAesthetic,
#imageInsta,
#imageSpecialist,
#imageSpecialistBlack {
  @extend %align;
  @extend %image;
  @extend %opacity;
  &:hover {
    opacity: 1;
  }
}

#imageFashion {
  background-image: url('#{$path-img}/eyelashes.jpg');
}

#imageExodus {
  background-image: url('#{$path-img}/exodus.png');
}

#imageTerraForma {
  background-image: url('#{$path-img}/terra-forma.png');
}

#imageCards {
  background-image: url('#{$path-img}/ferris-wheel.jpg');
}

#imageSampleUniversity {
  background-image: url('#{$path-img}/sample-university.jpg');
}

#imageFeralBlack {
  background-image: url('#{$path-img}/feral-black.png');
}

#imageFeralWhite {
  background-image: url('#{$path-img}/feral-white.png');
}

#imageTumblr {
  background-image: url('#{$path-img}/tumblr.jpg');
}

#imageAdidas {
  background-image: url('#{$path-img}/adidas.jpg');
}

#imageMobile {
  background-image: url('#{$path-img}/mobile.png');
}

#imageAesthetic {
  background-image: url('#{$path-img}/fashion-mock-up.jpg');
}

#imageInsta {
  background-image: url('#{$path-img}/ig.png');
}

#imageSpecialist {
  background-image: url('#{$path-img}/hybrid-white.png');
}

#imageSpecialistBlack {
  background-image: url('#{$path-img}/hybrid-cloud-specialist.png');
}

// Media Queries
@media only screen and
(min-width: 1024px)
and (max-width: 1025px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    height: 100vh;
  }
}

@media only screen and
(min-width: 667px)
and (max-width: 768px) {
  h3 {
    font-size: 1.8em;
  }

  img.open {
    width: 200px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    height: 100vh;
  }

  //Modal//
  .ui.modal {
    width: 88%;
  }
}

@media only screen
and (max-width: 415px) {
  h3 {
    font-size: 1.8em;
  }

  h3.signature {
    font-size: 1.8em;
    padding-top: 3.5em;
  }

  h4 {
    font-size: 2em;
  }

  img.open {
    width: 200px;
  }

  .about-me {
    font-size: 12px;
  }

  .case-study {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fullscreen-bg__video {
    display: none;
  }

  .gallery .box {
    width: 100%;
    height: 500px;
    background-size: contain;
  }

  .landing-content {
    width: 300px;
    height: 400px;
  }

  .landing-footer {
    font-size: 13px;
    padding-top: 10em;
  }

  .menu {
    height: 100vh;
  }

  .menu li {
    font-size: 1em;
  }

  .modal {
    width: 100%;
  }

  .name {
    color: $madder;
    font-size: 1.6em;
  }

  .wrapper {
    margin: 0 auto;
  }

  #footer-title {
    color: $madder;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}
