// Footer
.contact {
  @extend %centered;
}

.contact-footer {
  font-size: 1.2em;
  padding-top: 8.3em;
}

.landing-footer {
  font-family: $stack-odibee;
  font-size: 2em;
  padding-top: 5.3em;
}

#nav-title {
  width: 100px;
  position: fixed;
  color: $black;
  font-family: $stack-odibee;
  font-size: 2em;
  padding: 2em;
  right: 50px;
}

#nav-title a {
  color: $black;
  &:hover{
    color: $white;
  }
}


#footer {
  font-size: 1.5em;
  padding-top: 1em;
}

#footer a {
  &:hover{
    color: $white;
  }
}

#footer-title,
#footer-copy {
  @extend %centered;
  color: $black;
  font-family: $stack-odibee;
  font-size: 1em;
  margin-top: 1em;
  padding: 1em;
}

#footer-copy {
  color: $black;
}
