// Footer
.contact {
  @extend %centered;
}

.landing-footer {
  font-family: $stack-odibee;
  font-size: 2em;
  padding-top: 5em;
}

#footer {
  font-size: 1.5em;
  padding-top: 1em;
}

#footer a {
  &:hover{
    color: $white;
  }
}


#footer-title,
#footer-copy {
  @extend %centered;
  color: $black;
  font-family: $stack-odibee;
  font-size: 1em;
  margin-top: 1em;
  padding: 1em;
}

#footer-copy {
  color: $madder;
}
