h4,
h5 {
  font-variant: small-caps;
  text-align: center;
}

h4 {
  color: $black;
  font-size: 3em;
  padding: .5em;
}

.create {
  width: 100%;
  height: 100%;
}

.exit {
  @extend %block;
  width: 30px;
}

.modal {
  display: none;
  .image {
    @extend %block;
    margin: 0 auto;
    width: 100%;
  }
}
